# m h  dom mon dow   command >> /var/log/cron.log 2>&1
  * *   *   *   *    /usr/local/bin/python /home/virginitybot/daily-reset.py >> /var/log/cron.log 2>&1
  0 14  *   *  TUE   /usr/local/bin/python /home/virginitybot/weekly-reset.py >> /var/log/cron.log 2>&1
 30 14  1   *   *    /usr/local/bin/python /home/virginitybot/monthly-reset.py >> /var/log/cron.log 2>&1
